
body {
	    background:rgb(155,185,207);
		background-image: url("./images/Photo_ofme.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-width:100%;
}

p.name{		
		color: black;
		font-size: 60px;
		line-height: 1.2;
		font-family: 'Helvetica';
		font-weight: 600;

}

p.intro {
		color: black;
		font-size: 20px;
		line-height: 1.5;
		font-family: 'Helvetica';
		font-weight: 500;
}

p.maininfo {
		color:  black;
		font-size: 20px;
		line-height: 1.2;
		font-family: 'Helvetica';
		font-weight: 500;
}

div.leftbox {
	    display: block;
        margin-left:25px;
        margin-top: 50px;
        padding: 15px 15px 15px 15px;
        width: 500px;
        height: auto;
        /*border:2px solid white;*/
		float:left;	
}

div.rightbox {
	    display: block;
	    background:rgb(235,241,245);
	    opacity: 0.7;
	    border-radius:20px ;
        margin-left:200px;
        margin-top: 25px;
        padding: 0px 15px 15px 15px;
        width: 300px;
        /*border:2px solid white;*/
		float:left;	
}

.button {
	    height:50px;
    	width:120px;
   	 	border-color:#6495ED;
   	 	background-color:#BCD2EE;
    	border-style: solid;
    	border-width: 2px;
    	border-radius:5px;
    	margin:auto;
    	text-align:center;
}

	
 